<div class="container mt-5">
  <h2 class="bg-light p-3">- ADD NEW RESTAURANT -</h2>

<%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category %>
  <%= f.submit %>
<% end %>
</div>
